
.button{
    border: 10px;
    color: white;
    text-align: center;
    font-size: 15px;
    background-color:rgba(74, 223, 74, 0.87);
    border-radius: 20px;
    font-style: normal;  
    float: left;
    margin: 2%;
    border: 10px solid rgba(74, 223, 74, 0.87);
}
ul{
    display: inline;
    list-style-type: none;
    
    font-size: 100%;
    float: center;
}
li{
    float: right;
    padding: 1%;
    font-style: kerman;
}
